.DS_Store
tmp
bin
build
/metadata.json

*/*/modules
*/*/modules*
.apt_generated
build.properties
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

/android/clean
/android/ant_clean
/android/.classpath
/android/.gradle
/android/gradle/
/android/.settings
/android/dist/
/android/launch-*
/android/java-sources.txt

/ios/metadata.json
/ios/dist
/android/.gradle
/ios/Pods
